
html, body {
    font-size: 14pt;
}

.hide {
    display: none;
}

form .who {
    width: 10%;
}

form .what {
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
}

ul .when {
    color: #555;
    font-size: 12pt;
}

li .who {
    font-weight: bold;
    padding: 0.1em 0.25em;
    border-radius: 0.2em;
}
